#caja28{
    padding: 20px;
    width:100px ;
    height: 400px;
    font-size: 15px;
}
    
    .caja30{
        padding-top: 5%;
        padding-left: 220px;
    }
    .caja30 img{
        margin: auto;
        width: 190px; 
        height: 250px;
    }
    .caja31{
        padding-left: 220px;
        float: left;
        background-color: rgb(255, 255, 255);
    }
    .caja31 img{
        margin: auto;
        width: 578px; 
        height: 170px;
    }