/* Estilos para la barra superior */
.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .left-section {
    display: flex;
    align-items: center;
    font-size: x-small;
  }
  
  .left-section img {
    width: 30px;
    margin-right: 10px;
  }
  
  .right-section {
    display: flex;
    align-items: center;
  }
  
  .links-container {
    display: flex;
}
  
  .links-container a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    padding-right: 16px;
  }
  
  .links-container a:first-child {
    margin-left: 0;
  }
  
  .links-container a:hover {
    text-decoration: underline;
  }
  

.titulo {
    margin-top: 80px; /* Espacio para evitar que el contenido se superponga con la barra superior */
    padding: 20px; /* Espaciado interno para el contenido */
    text-align: center;
    font-size: xx-large;
}

.barra-horizontal {
    background-color: #3498db; /* Color de fondo de la barra */
    width: 100%; /* Ancho completo de la pantalla */
    height: 48px; /* Altura de la barra */
    margin-top: 20px; /* Espacio entre el título y la barra */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para el subtítulo de la barra */
.subtitulo {
    color: white; /* Color del texto */
    padding: 5px 10px; /* Espaciado interno para el texto */
    margin: 0; /* Eliminar márgenes por defecto */
    font-size: xx-large;
}

.contenido1 {
    padding: 256px; /* Espaciado interno para el contenido */
    font-size: x-large;
    align-content: center;
    margin-top: -256px;
}

.contenido2-imagenes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenido2-imagenes div {
  margin: 10px; /* Espacio entre las imágenes */
}

.contenido2-imagenes img {
  max-width: 100%; /* Asegura que las imágenes no excedan el ancho del contenedor */
  height: auto; /* Para mantener la proporción de aspecto */
}

.contenido2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
}

.pruebas_deteccion {
  max-width: 600px; /* Ajusta el ancho máximo según tus necesidades */
  text-align: center; /* Centra el texto */
  margin-bottom: 20px; /* Espacio entre cada sección */
}
/* Estilos para la imagen */
.seccion-imagen img {
    margin-right: 20px; /* Espacio entre la imagen y el párrafo de texto */
    max-width: 40vw; /* Escala la imagen al 50% del ancho de la ventana */
    height: auto; /* Mantiene la proporción de aspecto */
    display: block; /* Elimina espacios no deseados */
}

.subtitulo_2 {
    padding: 185;
    color: #3498db;
    text-align: center;
    font-size: x-large;
}

.contenido3 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 256px;
  font-size: large;
}

.cuerpo {
  flex: 1;
  max-width: 70%; /* Ajusta el ancho del texto */
  text-align: left;
}

.imagenes {
  flex: 1;
  max-width: 25%; /* Ajusta el ancho máximo de las imágenes */
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espacio entre las imágenes */
}

.imagenes img {
  width: 100%; /* Ajusta el ancho de las imágenes al contenedor */
  height: auto;
}

.boton-diagnostico {
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #000;
  border-radius: 5px;
  background-color: #ffcc00;
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.boton-diagnostico:hover {
  background-color: #ffc107;
  color: #fff;
}

.botones{
  display: flex;
  text-align: center;
  
}